/Viikko 1/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko 1/NhlStatistics1/.nb-gradle/
/Viikko 1/NhlStatistics1/build/
/Viikko 2/Verkkokauppa/.nb-gradle/
/Viikko 3/nhlreader/.nb-gradle/
/Viikko 3/HelloCucumber/.nb-gradle/
/Viikko 3/HelloCucumber/build/
/Viikko 3/LoginCucumber/.nb-gradle/
/Viikko 3/WebLogin/.nb-gradle/