/Viikko 1/RiippuvuuksienInjektointi1/.nb-gradle/
/Viikko 1/NhlStatistics1/.nb-gradle/
/Viikko 1/NhlStatistics1/build/
/Viikko 2/Verkkokauppa/.nb-gradle/
/Viikko 3/nhlreader/.nb-gradle/
/Viikko 3/HelloCucumber/.nb-gradle/
/Viikko 3/HelloCucumber/build/
/Viikko 3/LoginCucumber/.nb-gradle/
/Viikko 3/WebLogin/.nb-gradle/
/Viikko 4/MockitoDemo/.nb-gradle/
/Viikko 4/MockitoDemo/build/
/Viikko 4/MaksukorttiMockito/.nb-gradle/
/Viikko 4/MaksukorttiMockito/build/
/Viikko 4/Verkkokauppa/build/
/Viikko 4/Verkkokauppa/.nb-gradle/
/Viikko 4/IntJoukkoSovellus/build/
/Viikko 4/IntJoukkoSovellus/.nb-gradle/
/Viikko 4/Tennis/build/
/Viikko 4/Tennis/.nb-gradle/